<nav>
  <div class="site-title">
    <a href="/"><h1>TraveMate</h1></a>
    <p>A Net Ninja Site</p>
  </div>
  <ul>
    <li><a href="/">Tours</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/tours/create">New tour</a></li>
  </ul>
</nav>