.main {
  color: #ffffff;
  height: 97vh;
}
.main div {
  padding: 10px;
}

.main h1 {
  color: black;
  padding: 20px;
  background-color: rgba(115, 215, 233, 0.493);
}

.items {
  display: flex;
}
.directory_container {
  flex-basis: 70%;
}

.loader {
  display: flex;

  border: 16px solid #a499cebb; /* Light grey */
  border-top: 16px solid #ffffff; /* Blue */
  border-bottom: 16px solid #4d29d179; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
