* {
  box-sizing: border-box;
}

.blogbg {
  background-image: url("/images/blogbg.jpg");
  background-size: cover;
  background-clip: content-box;
  padding: 0.5%;
  border: none;
}

.container {
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  font-size: 16px;
  margin: 15px 30px;
  padding: 7px;
  background: #000000a2;
  width: 80%;
}

.form * {
  line-height: 1.5;
}

.form__title {
  background-color: #000000;
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 800;
  margin: 20px 20px;
  padding: 20px;
  width: 100%;
}

.form__label {
  color: #ffffff;
  margin: 7px 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form .form__item {
  display: flex;
  flex-direction: column;
}

.form__item > * {
  align-self: flex-start;
}

.form__input {
  -webkit-appearance: none;

  width: 100%;
  max-width: 425px;

  padding: 0.8em;
  font-size: 0.9em;

  outline: none;
  border: 1px solid #000000;
  border-radius: 4px;
  background: #ebd5d5cb;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.btn {
  font-weight: 600;
  font-size: 0.9em;
  padding: 5px 15px;
  margin: 25px 0;

  color: #ffffff;
  background: #14b64a;
  border: 2px solid #0fa942;
  border-radius: 5px;

  cursor: pointer;
  outline: none;
}

.btn:active {
  background: #1688f3;
  border: 2px solid #ffffff7e;
}

.btn:hover {
  border: 3px solid #00000079;
  background-color: #1688f3;
}
