.Main_container {
  display: grid;
  grid-column-gap: 0.5%;
  grid-row-gap: 5%;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  grid-template:
    "header header header header header header"
    "nav x x x x x"
    "nav main main main right right"
    "nav footer footer footer footer footer"
    / 160px 1fr;
}

.Main_container div {
  margin: 15px;
}

section {
  width: auto;
  height: 100%;
}

header {
  background: linear-gradient(
    90deg,
    rgba(26, 27, 27, 0.795) 0%,
    rgba(126, 127, 128, 0.712) 100%
  );
  grid-area: header;
  padding: 1%;
  color: #fff;
  display: inline-box;
  float: left;
}

nav {
  background-color: rgba(248, 248, 248, 0.986);
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
}

x {
  background: linear-gradient(
    90deg,
    rgba(188, 212, 212, 0.637) 0%,
    rgba(171, 178, 187, 0.712) 100%
  );
  grid-area: x;
  color: #fff;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background-color: rgba(161, 173, 172, 0.507);
  grid-area: main;
  border-radius: 10px;
}

footer {
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  grid-area: footer;
  padding: 5px;
}

.head_h2 {
  margin: 15px, 15px;
  padding: 10px;
}

.add_services {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
}

.btn {
  width: 10%;
  padding: 10px;
  height: auto;
  margin: auto;
  margin-top: 2px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(21, 134, 46) 0%,
    rgb(0, 232, 236) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 0.9rem;
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.btnprofile {
  width: 10%;
  padding: 10px;
  height: auto;
  margin: auto;
  margin-top: 2px;
  border-radius: 2px;
  background: linear-gradient(90deg, rgb(22, 22, 22) 0%, rgb(49, 51, 51) 100%);
  outline: none;
  border: none;
  color: #fff;
  font-size: 0.9rem;
}

.btnprofile:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}
