.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Hero_Image Hero_Image Hero_Image"
    "Blogs Blogs Blogs"
    "Blogs Blogs Blogs";
}

.Hero_Image {
  grid-area: Hero_Image;
  background: url("/images/blogsHero.jpg") center center/cover no-repeat;
  height: 45vh;
}

.Blogs {
  grid-area: Blogs;
}

.detail_container {
  display: grid;
  justify-items: center;
  grid-template-columns: 0.2fr 2.6fr 0.2fr;
  grid-template-rows: 0.4fr 1.8fr 0.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". user_info ."
    ". details ."
    ". feedbacks .";
}

.user_info { grid-area: user_info;
  display: grid;
  grid-auto-flow: column;
}

.details { grid-area: details; }

.feedbacks { grid-area: feedbacks; }
