.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.header {
  height: 15vh;
}
.services {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.service__container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-items: center;
}
.compare_fields {
  margin-bottom: 10rem;
}
.compare_list {
  padding-left: 20px;
  padding-top: 10px;
  min-height: 100px;
  width: 150px;
  background-color: rgb(252, 217, 223);
  border-radius: 10px;
  margin-bottom: 10px;
}
.images {
}
.green {
  color: darkgreen;
}
